html {
    box-sizing: border-box;
    /* overflow: hidden; */
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: system-ui, 'Helevetica Neue', Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid black;
  }
  
  header > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .header-coords {
    user-select: none;
  }
  .coord-label {
    text-transform: uppercase;
    font-size: 0.5rem;
    margin-left: 10px;
  }
  
  .button-refresh-colors {
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 2rem;
  }
  
  canvas {
    flex: 1;
    overflow: hidden;
    cursor: crosshair;
  }
  
  .window-size {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    color: black;
    padding: 5px;
  }
  .window-size.hidden {
    opacity: 0;
    transition: 1s;
    visibility: hidden;
  }