html {
    box-sizing: border-box;
    /* overflow: hidden; */
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: system-ui, 'Helevetica Neue', Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .header-coords {
    user-select: none;
  }

  .coord-label {
    text-transform: uppercase;
    font-size: 0.5rem;
    margin-left: 10px;
  }